<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main.html"
      xmlns:th = "http://www.thymeleaf.org">

<div layout:fragment = "site_content">

    <div class="row mt-5">
        <div class="col-12">
            <h1 class="text-center">403 ACCESS FORBIDDEN</h1>
        </div>
    </div>

<!--    <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <td>Granted Authorities</td>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="appUserColl: ${appUserRoleColletion}">-->
<!--            <td th:text="${appUserColl}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

</div>

</html>